@media screen and (max-width: 320px){
    .test fb-video {
  
      width: 220px;
      height: 100px;
      }
  }
  @media screen and (min-width: 320px) and (max-width: 400px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    .test fb-video{
      width: 400px ;
      height: 260px;
    }
  }
  
  @media screen and (min-width: 900px){
    .test fb-video {
  
      width: 600px;
      height: 315px;
      }
  }

  .test{
    display: flex;
    justify-content: space-around;
  }